{% extends '::base.html.twig' %}
TEST
{% block body -%}
    <h1>Modification d'un livre</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Liste des livres
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
